.body{
    max-height: 35vh;
    display: grid;
    place-items: center;
    background-color: aqua;
    z-index: 0;
}
.cantainer{
    height: 200px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
   
}


.slide-cantainer{
    display: flex;
    width: calc(200px *18);
    animation: scroll 20s linear infinite;
    margin-bottom: 40px;

}

@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-200px*7));
    }
    
}
.slide-image{
   
    height: 120px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    padding-bottom: 20px;
   
    padding-bottom: 30px;
   
}
img{
    width: 100%;
}

@media screen {
    
}